.services h1{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: rgb(62, 79, 96);
    font-weight: 800;
}

.services p{
    padding-top: 2px;
    padding-bottom: 30px;
    text-align: justify;
    font-size: 25px;
    margin-left: 40px;
    margin-right: 40px;
    line-height: 40px;

}

.services ul{
    padding-top: 2px;
    padding-bottom: 30px;
    text-justify: auto;
    font-size: 25px;
    text-align: left;
    font-weight: bold;
    display: list-item;
    padding-left: 50px;
}

.services li{
    margin-bottom: 10px;
    padding-left: 20px;
    color: rgb(62, 79, 96);
    font-weight: 800;
}